body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(images/photo-1553095066-5014bc7b7f2d.jpg);
  background-size: cover;

  height: 100vh;
  color: aliceblue;
 
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.main{
  display: flex;
  justify-content: center;
 align-items: center;
 height: 100vh;
}







.form_main {
  border-radius: 5px;
  padding: 2rem 1rem;
background-color: #36454f;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .form_main::before {
    
    width: 300px;
    height: 300px;
  

  }
  
  .heading {
    font-size: 2em;
    color: #ceacac;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .inputIcon {
    position: absolute;
    left: 3px;
  }
  
  .inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
  }
  
  .inputField::placeholder {
    color: #ceacac;
    font-size: 0.9em;
    font-weight: 500;
  }
  
  .my-btn {
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(162, 104, 255);
    height: 30px;
    color: white;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
    
  }
  
  .my-btn:hover {
    background-color: rgb(126, 84, 255);
  }
  
  .forgotLink {
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: #ceacac;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
  }
  
  
  /* index.html file */

  .my-card{
    display: flex;
    justify-content: center;
    align-content: center;

  }

  /* profile Sec */

  .main .profile-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .main .profile-top >h3{
font-size: 22px;
    font-weight: 700;
  }

  

  .user-picture>img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user-picture {
    width: 100px;
    margin: 0px auto;
    position: relative;
}

.camera-icon {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    position: absolute;
    bottom: 10px;
    right: -5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}


/* chat Section */

.chat-section .left-contionor{
  width: 400px;
  height: 100vh;
  background-color: rgb(46, 53, 53);
}


 


@media only screen and (max-width: 400px) {

  .chat-section .left-contionor{
    width: 100%;
  }

  .message-sec li{
    width: 100%;
  
  }
}




 .top-L{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 1.3rem;
  
}
 .top-L >img{
  margin-left: 1rem;
  width: 90px;
  border-radius: 50%;
 
}




.container-input {
  position: relative;
  display: flex;
  justify-content: center;
}

.input {
  width: 90%;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all .2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input svg {
  position: absolute;
  top: 50%;
  left: 9%;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
}

.message-sec{
  width: 100%;
}






.message-sec li {
  display: flex;
  justify-content: space-between;
   padding: 1rem;
 
 }
 
 


.message-sec li >div{
 display: flex;
  padding: 1rem;

}

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

